/Desing Patterns/Observer/CSGOHealthObserver/nbproject/private/
/Desing Patterns/Observer/CSGOHealthObserver/build/

/StrategyPattern/target/
/Desing Patterns/Strategy/StrategyPattern/target/


/Desing Patterns/CSGOCompositePattern/nbproject/private/
/Desing Patterns/CSGOCompositePattern/build/
/Desing Patterns/Composite/CSGOCompositePattern/build/
/Desing Patterns/Composite/CSGOCompositePattern/nbproject/private/
/Desing Patterns/Singleton/CSGOSingleton/nbproject/private/
/Desing Patterns/Singleton/CSGOSingleton/build/
